<nav class="navbar bg-body-tertiary mt-3">
    <div class="container-fluid">
        <form class="d-flex w-75" role="search">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Qidirish</button>
            </div>
        </form>
        <button type="button" class="btn btn-outline-primary">
            <i class="bi bi-plus-square"></i>
            Yaratish
        </button>
    </div>
</nav>